nav {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  min-width: 350px;
  height: 120px;
  padding: 1.5em;
  color: #FFFFFF;
  background-color: #4056A1;
}

nav span {
  margin: 1.5em;
  font-family: Bungee, sans-serif;
  font-size: 40px;
  line-height: 1em;
}

nav div {
  display: flex;
  flex-flow: column;
}

nav div p {
  align-items: flex-end;
  font-size: .7em;
  padding: 0.5em;
}

div p strong {
  font-weight: bold;
  font-style: italic;
}

nav div i {
  align-self: center;
  color: #DE5039;
  font-size: 1em;
  padding: 0.1em; }

