nav {
  display: flex;
  justify-content: space-between;
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

nav span {
  margin: 1.5em;
  font-family: Bungee, sans-serif;
  font-size: 40px;
  line-height: 1em;
}

nav div {
  display: flex;
  flex-flow: column;
}

nav div p {
  align-items: flex-end;
  font-size: .7em;
  padding: 0.5em;
}

div p strong {
  font-weight: bold;
  font-style: italic;
}

nav div i {
  align-self: center;
  color: #DE5039;
  font-size: 1em;
  padding: 0.1em; }