main.container > section{
  margin: auto;
  width: 90%; 
  display: flex;
  flex-direction: column;
}

form {
  margin-top: 1em;
}

.new-tweet textarea {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 3px solid black;
  height: 2.5em;
  width: 100%;
}

main section output {
  margin-top: 2%;
  float: right;
}

main section output.negative {
  color: red; 
}

button {
  margin-top: 2%;
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: Bungee, sans-serif;
  font-size: 20px;
  transition: .5s;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 0 0 3px dodgerblue;
}
