article.tweet header {
  padding: 10px;
  border-radius: 15px 15px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article.tweet header div {
  display: flex;
  align-items: center;
}

article.tweet header label {
  font-size: 1em;
  font-weight: bold;
  margin: 10px;
  
}

article.tweet header span {
  float: right;
  font-size: 1em;
  line-height: 50px;
  opacity: 0;
}

article.tweet header img {
  border-radius: 15px;
  float: left; }

article.tweet footer .icons {
  float: right;
  color: #7DCEA0;
  opacity: 1; }

article.tweet footer .date {
  float: left;
  opacity: 1; }

article.tweet {
  margin-top: 5%;
  margin-bottom: 5%;
  border: solid;
  padding: .5em;
}

article.tweet:hover {
  box-shadow: 10px 10px #888888;
}

article.tweet:hover span {
  opacity: 0.8;
}

article.tweet p {
  padding: 10px; }

article.tweet footer {
  padding: 30px;
  border-top: 5px solid; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }



/* 
article.tweet {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  border: solid;
  margin-bottom: 5%;
  transition: background-color 1s;


}
article.tweet footer .icons i {
  margin: 3px; }

.header {
  padding: 10px;
  border-radius: 15px 15px 0 0;
  position: relative;
}

.header img {
  border-radius: 15px;
  float: left;
}

.header h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px; 
  display: inline-block;
  padding-left: 10px;
}

.header span {
  
  position: absolute;
  right: 10px
  font-size: 1em;
  line-height: 50px;

} */