/* header section */
article.tweet header {
  padding: 10px;
  border-radius: 15px 15px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article.tweet header div {
  display: flex;
  align-items: center;
}

/* header display name */
article.tweet header label {
  font-size: 1em;
  font-weight: bold;
  margin: 10px;
}

/* header handler */
article.tweet header span {
  font-size: 1em;
  line-height: 50px;
  opacity: 0;
}

article.tweet header img {
  border-radius: 15px;
}

/* tweet section */
article.tweet {
  margin-top: 5%;
  margin-bottom: 5%;
  border: solid;
  padding: .5em;
}

/* hover shadow effect */
article.tweet:hover {
  box-shadow: 10px 10px #c4c3c3;
}

/* hover effect */
article.tweet:hover span {
  opacity: 0.8;
}

/* tweet contents */
article.tweet p {
  padding: 10px;
}

/* footer (time ago and icons) */
article.tweet footer {
  padding: 15px;
  border-top: 5px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article.tweet footer div.icons {
  color: #4056A1;
  opacity: 1;
}

/* icons on the bottom right */
div.icons i {
  margin: 0.2em;
}